#inicio {
	width:550px;
	height: 243px;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}

#botao-iniciar{
	padding: 20px;
	margin-top: 0px;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid #fdad00;
	background-color: #ffffff;
	box-shadow: 0 0 1em gold;
	cursor: pointer;
}

h1 {
	font-family: sans-serif;
	font-size:30px;
	color:#030560;
}

p{
	font-size: 20px;
	font-family: sans-serif;
}

body {
	background-image:url(../imgs/background.png);
    background-repeat: no-repeat;
}

#container{
	width:970px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


#fundoGame {
	width:980px;
	height:630px;
	background-image:url(../imgs/background-sea.png);
	border-color:#FFF;
	border-style:solid;
}

#jogador {
	width: 207px;
	height: 197px;
	position:absolute;
	left:8px;
	top:179px;
    background-image:url(../imgs/menina-jogador.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/lixos.png);
	
}

#inimigo2 {
	width: 195px;
	height: 98px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/Group\ 6.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../imgs/peixe.png);
}

.anima3 {
	background-image:url(../imgs/amigo.png);
	animation:play2 .9s steps(12) infinite;
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}

#disparo {
	width: 41px;
	height: 59px;
	position: absolute;
	background-image: url(../imgs/Group\ 14.png);
}

#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}

.anima4 {
	width:44px;
	height:51px;
	background-image:url(../imgs/amigo_capturado.png);
	animation:play3 .5s steps(7) infinite;
    -o-animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-o-keyframes play3 {
	from { background-position:    0px; }
	  to { background-position: -308px; }
 }

 #placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 590px;
}

h2 {
	font-family: sans-serif;
	font-size: 20px;
	color: #fdad00;
}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

#button-restart{
	padding: 20px;
	margin-top: 1%;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid #fdad00;
	background-color: #ffffff;
	box-shadow: 0 0 1em gold;
	cursor: pointer;
}

#fim {
	width:350px;
	height:200px;
	background-color:#FFF;
 	margin-left:auto;
    margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}

.creditos{
	margin-top: -2rem;
	margin-left: -11.5rem;
	font-size: 12px;
}

a:visited{
	color: #0003ca;
}